<div class="work-experience">
  <h1>Work Experience</h1><br>
  <% exp.forEach(function(item) { %>
      <h4><%= item.role %></h4>
      <div class="company"><%= item.company %></div>
  <p><%= item.description %></p><br></br>
  <%  }) %>
  </div>
